<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>649602559902-08s3pf65kqqcpo1ou84jme2pac93vb59.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649602559902-08s3pf65kqqcpo1ou84jme2pac93vb59</string>
	<key>API_KEY</key>
	<string>AIzaSyB1DsHOjhuWPDSwGeREU6MoY3pbowGmJVE</string>
	<key>GCM_SENDER_ID</key>
	<string>649602559902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iljoochae.ThanksNote</string>
	<key>PROJECT_ID</key>
	<string>thanksnote-ab82f</string>
	<key>STORAGE_BUCKET</key>
	<string>thanksnote-ab82f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649602559902:ios:d5c441f2fe58063123308f</string>
	<key>DATABASE_URL</key>
	<string>https://thanksnote-ab82f.firebaseio.com</string>
</dict>
</plist>